---
layout: archive
author_profile: false
---

{% include base_path %}


<h1 class="page__title" itemprop="headline">Robocup Rescue
</h1>
          
        </header>
      

      <section class="page__content" itemprop="text">
        <p>The objective of this project is to develop a rescue robot, which can operate in an disaster area. For example a destroyed city after an earthquake. The robot should assist the rescue forces with locating injured people in buildings that are in danger of collapsing. At the moment the robot is controlled by a tele operator. A future goal is the implementation of autonomous navigation and the creation of a 3D map of the surroundings. At the current stage of development the robot uses an adapted armoured track vehicle as a chassis. A Microsoft Kinect is used for visual input and an IMU sensor for position tracking.</p>


<p><img src="/images/home/conrad.png" alt="Conrad" title="Conrad"></p>


<h3 class="archive__subtitle">Recent Posts</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}



